@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

a{
    text-decoration: none;
    color: #ffffff;
}

a:visited{
    text-decoration: none;
    color: #ffffff;
}

body{
    background-color: #000000;
    color: #ffffff;
}

hr{
    color: white;
    background-color: white;
    height: 2px;
}

.head{
    font-family: 'Bad Script', cursive;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: yellow;
    text-shadow: 3px 3px 5px red;
}

.first{
    font-family: 'Bad Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}

.container-singto{
    width: 40%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(144, 1, 1);
    border-style: solid;
}

.singto{
    width: 50%;
    display: flex;
    justify-content:center;
}

.singto-image{
    width: 50%;
    display: flex;
    justify-content: center;
}

.container-krist{
    width: 40%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(144, 1, 1);
    border-style: solid;
}

.krist{
    width: 50%;
    display: flex;
    justify-content: center;
}

.krist-image{
    width: 50%;
    display: flex;
    justify-content: center;
}

.container-title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: yellow;
    text-shadow: 3px 3px 5px red;
}

.second{
    font-family: 'Bad Script', cursive;
    margin-top: 15px;
}


.ships1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
}

.ks{
    margin-right: 25px;
    padding: 10px;
    text-align: center;
    border: rgb(144, 1, 1);
    border-style: solid;
}

.tn{
    margin-left: 25px;
    padding: 10px;
    text-align: center;
    border: rgb(144, 1, 1);
    border-style: solid;
}

.ships2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
}

.og{
    margin-right: 25px;
    padding: 10px;
    text-align: center;
    border: rgb(144, 1, 1);
    border-style: solid;
}

.mg{
    margin-left: 25px;
    padding: 10px;
    text-align: center;
    border: rgb(144, 1, 1);
    border-style: solid;
}

@media only screen and (max-width : 1000px){
    body{
        width: fit-content;
        height: fit-content;
    }
}