@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

body{
    background-color: #000000;
}

a{
    text-decoration: none;
    color: #c4c4c4;
}

a:visited{
    text-decoration: none;
    color: #c4c4c4;
}

.back{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.image-slider{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.left{
    width: 10%;
    color: #ce0000;
    font-family: 'Lemon', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-shadow: 0.2px 0.2px #660708;
}

.right{
    width: 10%;
    color: #ce0000;
    font-family: 'Lemon', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-shadow: 0.2px 0.2px #660708;
}

.images{
    width: 100%;
    height: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img1{
    width: 100%;
    height: 100%;

    background-image: url('./../images/si1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.img2{
    width: 100%;
    height: 100%;

    background-image: url('./../images/si2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img3{
    width: 100%;
    height: 100%;

    background-image: url('./../images/si3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img4{
    width: 100%;
    height: 100%;

    background-image: url('./../images/si4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img5{
    width: 100%;
    height: 100%;

    background-image: url('./../images/si5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

hr{
    color: white;
}

.section2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container{
    background-color: #161a1d;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #ce0000;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.info{
    width: 70%;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    color: #f3f2ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-left{
    width: 30%;
}

.info-right{
    width: 70%;
}

.socmed{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.ig{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.twt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.g-text{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Londrina Solid', cursive;
    color: #3c3c3c;
    font-size: 30px;
    letter-spacing: 3px;
}

#gallery{
    padding-top: 2em;
    padding-bottom: 2em;
}

#gallery .g-container {
    height: auto;
}

#gallery .g-container #photos-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
}

.g-img{
    width: auto;
    height: auto;
    margin-bottom: 2.5em;
    box-shadow: 0 4px 8px 0 #ffffff;
    transition: 0.2s;
    border-radius: 5px;
}

.g-img img {
    width: 25em;
    height: 25em;
    border-radius: 5px 5px 0 0;
    background-image: url("./../images/ss1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer{
    background-color: #000000;
    color: #f3f2ec;
    font-size: 24px;
    display: flex;
    justify-content: center;
}